/* Ici on donne un style aux catégories de réponse des sujets du kiosque.
TODO C'est un peu artisanal... */

#questionAnswers[data-question='fortune'] .answerBlock:nth-of-type(1) .score {
  background: radial-gradient(at center center, rgb(176, 41, 17) 20%,  rgb(234, 131, 2) 100%);
}
#questionAnswers[data-question='fortune'] .answerBlock:nth-of-type(2) .score {
  background: radial-gradient(at center center, rgb(131, 112, 61) 20%,  rgb(220, 191, 123) 100%)
}
#questionAnswers[data-question='fortune'] .answerBlock:nth-of-type(3) .score {
  background: radial-gradient(at center center, rgb(116, 136, 146) 20%,  rgb(164, 200, 218) 100%);
}
#questionAnswers[data-question='fortune'] .answerBlock:nth-of-type(4) .score {
  background: radial-gradient(at center center, #ccc 20%,  #fff 100%);
}
#questionAnswers .answerBlock {
}
#questionAnswers .answerBlock .score {
  position: relative;
  font-weight: bold;
  width: 4em;
  line-height: 2em;
  text-align: center;
  margin: 0 auto;
  color: white;
  /*border: 4px solid black;*/
  border-radius: .05em;
  /*position: absolute;*/
  /*top: 0;*/
  /*z-index: 100;
  left: 50%;
  transform: translate(-50%, 0);*/
}
#questionAnswers .answerBlock .text {
  display: block;
  margin: .4em auto;
  text-align: center;
  width: 80%;
  font-size: 130%;
}
#questionAnswers .answerBlock .score img {
  position: absolute;
  top: 50%;
  width: 50%;
  opacity: .2;
  left: 50%;
  transform: translate(-50%, -50%);
}

#questionAnswers[data-question='revenus'] .answerBlock .score {
  background: radial-gradient(at center center, #888 20%, #ccc 100%);
}
