
#kiosque #tag-list {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 80%;
  padding-left: 5%;
  /*margin: 0 auto;*/
}
#kiosque #tag-list li {
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
#kiosque #tag-list input[type="radio"] {
  visibility: hidden;
  height: 0;
  height: 0;
  margin: 0;
  padding: 0;
}
#kiosque #tag-list div {
  width: 100%;
  display: block;
  margin-bottom: .4em;
}
#kiosque #tag-list label {
  font-size: 85%;
  font-weight: 400;
  cursor: pointer;
  padding: 0 1.3em;
  border-radius: 1em;
  border: 1px solid #ccc;
  box-shadow: 0px 3px 18px 0px #eee;
}
#kiosque #tag-list label:hover {
  background: #eee;
}
#kiosque #tag-list input:checked + label {
  background: #eee;
  color: black;
  font-weight: 600
}
